<div class="container">
  <div class="d-flex">
    <div>
      <img
        src="https://img.freepik.com/free-photo/rendering-smart-home-device_23-2151039303.jpg?t=st=1707811843~exp=1707815443~hmac=623400fe4a4a53b630b127e22a8c18cef92cccaa1f866aad6bf2d79f6107324a&w=360"
        alt="...">
    </div>
    <div class="container col-7">
      <h1 style="text-align: center;">ABOUT US</h1>
      <p>Luxury and horology have walked parallel for centuries. Be it the centuries-old heritage of Bovet with its
        intricate detailing or the utilitarian DNA of Bell & Ross, high-end watches have always intrigued the world of
        horology. These premium watches also offer a wide range of complications such as Perpetual Calendar, Moon Phase,
        GMT, and Minute Repeaters.
      </p>
      <img src="https://img.freepik.com/premium-photo/close-up-luxury-man-wrist-watches-placed-timber-brown-background_85778-23.jpg?size=626&ext=jpg&ga=GA1.1.324782896.1706870167&semt=sph" alt="">
    </div>
  </div>
</div>
