<div class="container">
  <h1 style="text-align: center;">CONTACT US</h1>
  <div class="d-flex">
    <div class="mt-4">
      <img
        src="https://img.freepik.com/free-photo/smartwatch-screen-digital-device_53876-97295.jpg?w=360&t=st=1707823788~exp=1707824388~hmac=d465b089a6e0af5ae62db3882fbbf9ebc16653a913d7e57f17f196d26a1849d3"
        alt="" class="image-fluid">
    </div>
    <div class="container">
      <form>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Name</label>
          <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputEmail1" class="form-label">Email address</label>
          <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Phone number</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">watch brand</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Watch model</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Serial number</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="mb-3">
          <label for="exampleInputPassword1" class="form-label">Watch issue</label>
          <input type="text" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-dark">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>
