<article class="article">
	<div class="grid__item--1of1 text-center">
		<h2>THE LUXURY WATCH STORE</h2>
		<div class="tabs">
			 <input type="radio" name="tabs" id="tab1" checked >
			 <label for="tab1">
				  <i class="icon email-cal"></i><span>MAKE</span>
			 </label>
			 <input type="radio" name="tabs" id="tab2">
			 <label for="tab2">
				  <i class="icon snapshot"></i><span>SHOW</span>
			 </label>
			 <input type="radio" name="tabs" id="tab3">
			 <label for="tab3">
				  <i class="icon inbox-apps"></i><span>TECH</span>
			 </label>
			 <input type="radio" name="tabs" id="tab4">
			 <label for="tab4">
				  <i class="icon log-calls"></i><span>SPIN</span>
			 </label>
			 <div id="tab__content--1" class="tab__content">
				 <p></p>
				 <img src="../../assets/bg watch re.jpg" width="65%" alt="" />
			 </div>
			 <div id="tab__content--2" class="tab__content">
				  <p></p>
				  <img src="../../assets/Swiss-Watches re.jpg" width="65%" alt="" />
			 </div>
			 <div id="tab__content--3" class="tab__content">
				  <p></p>
				  <img src="../../assets/bg 3 re.jpg" width="65%" alt="" />
			 </div>
			 <div id="tab__content--4" class="tab__content">
				  <p></p>
				  <img src="../../assets/bg 4 re.jpg" width="65%" alt="" />
			 </div>
		</div>
	</div>
</article>
